* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  width: 20%;
  height: 100vh;
  background-color: rgb(192, 192, 192);
  position: fixed;
  overflow: auto;
}

.nav ul {
  list-style: none;
  height: 100%;
}

.nav div {
  height: 100%;
}

.navigation {
  border-bottom: 2px solid black;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigation:hover {
  background-color: grey;
}
